.container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	color: white;
	.favicon {
		width: 16px;
		height: 16px;
		vertical-align: middle;
		margin-right: 8px;
	}

	.icon {
		font-size: 1.2rem;
	}
	.link {
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.3rem;
		text-decoration: underline;
		text-underline-offset: 4px;
		color: #0277DA;
	}

	.text {
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		gap: 0.3rem;
	}
}