.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid #373350;
	border-radius: 8px;
}
.footer {
	width: 100%;
	padding: 0.5rem 1rem 1.5rem;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 1rem;
	width: 100%;
	background-color: transparent;
	color: white;
	font-weight: 600;
}